#{extends 'Layout/main.html' /}
#{set 'moreStyles'}
    #{stylesheet 'ranking.css' /}
#{/set}

<div class="wrapper">
	<img id="drawingPin1" src="/public/images/pin.png">
	<table cellpadding="0" cellspacing="0" border="0">
		<td style="background-image: url(/public/images/paper/1.png)" width="54" height="52"></td>
		<td style="background-image: url(/public/images/paper/2.png)" height="52"></td>
		<td style="background-image: url(/public/images/paper/3.png)" width="53" height="52"></td> </tr>
		<tr>
			<td style="background-image: url(/public/images/paper/4.png)" width="54"></td>
			<td style="background-image: url(/public/images/paper/5.png)" width="600px" height="300px" id="contentTd">

	<h1 style="margin-bottom: 30px;">総合スコアランキング</h1>
	<p style="margin: 20px 0;">#{a @index()}ランキング選択画面に戻る#{/a}</p>
	
	<table id="history">
		<tr id="tr_head">
		    <th width="60px">順位</th>
			<th width="100px">名前</th>
			<th width="200px">総合スコア</th>
			<th width="80px">総合時間<br>[秒]</th>
		</tr>
		
		#{list items:users, as:'user'}
		    %{total_history = user.total_history();}%
            #{if user.id == current_user.id }
                <tr id="rank_${user_index}" class="my_history">            
            #{/if}
            #{else}
                <tr id="rank_${user_index}">
            #{/else}
                <td class="history_index">${user_index}</td>
                <td class="user_name">${user.username}</td>
                <td class="history_score">${total_history.get('score')}</td>
                <td class="history_time">${total_history.get('time')}</td>
            </tr>
		#{/list}
        </table>
	</td>
    
			<td style="background-image: url(/public/images/paper/6.png)" width="53"></td>
		</tr>
		<tr>
			<td style="background-image: url(/public/images/paper/7.png)" width="54" height="54"></td>
			<td style="background-image: url(/public/images/paper/8.png)" height="52"></td>
			<td style="background-image: url(/public/images/paper/9.png)" width="53" height="54"></td>
		</tr>
	</table>
	<img id="drawingPin2" src="/public/images/pin.png">
</div>
