#{extends 'Layout/main.html' /}
#{set 'moreStyles'}
    #{stylesheet 'index.css' /}
    <style type="text/css">
        #title {
            margin-bottom: 30px;
        }
        #menu .btn:first-child{
            margin-top: 100px;
        }
        #menu .btn {
            margin-top: 10px;
        }
    </style>
#{/set}

<div class="wrapper">

<img id="drawingPin1" src="/public/images/pin.png">
    <table cellpadding="0" cellspacing="0" border="0">
            <tr><td style="background-image: url(/public/images/paper/1.png)" width="54" height="52"></td>
            <td style="background-image: url(/public/images/paper/2.png)" height="52"></td>
            <td style="background-image: url(/public/images/paper/3.png)" width="53" height="52"></td> </tr>
        <tr>
            <td style="background-image: url(/public/images/paper/4.png)" width="54"></td>
            <td style="background-image: url(/public/images/paper/5.png)" width="600px" height="300px" id="contentTd">

    <h1 id="title">パスワードの変更完了</h1>
    #{a @index(), id: "toTop"}マイページへ戻る#{/a}
    <div id="menu">
        <p>パスワードの変更が完了しました</p>
        <p class="paper_label horizon_center btn">#{a @index()}マイページへ戻る#{/a}</p>
    </div>
    </td>
            <td style="background-image: url(/public/images/paper/6.png)" width="53"></td>
        </tr>
        <tr>
            <td style="background-image: url(/public/images/paper/7.png)" width="54" height="54"></td>
            <td style="background-image: url(/public/images/paper/8.png)" height="52"></td>
            <td style="background-image: url(/public/images/paper/9.png)" width="53" height="54"></td>
        </tr>
    </table>
    <img id="drawingPin2" src="/public/images/pin.png">

</div>